* {
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
}

ul {
    list-style: none;
}

/* ************************************************** */

.grid-flex{
    /* background-color: rgb(110, 185, 250); */
    display: flex;
    justify-content: space-evenly;
    margin: 0  0 40px 0;
    flex-wrap: wrap;
}

/* slicing 1-2 */
.grid-flex li:nth-child(n+1):nth-child(-n+2){
    background-color: rgb(114, 185, 114);
    flex-basis: 48%;
    margin: 1%;
}
.grid-flex li:nth-child(n+1):nth-child(-n+2) img:hover{
    transition: width 3s;

}
.grid-flex li:nth-child(n+1):nth-child(-n+2) img:hover{
    width:40%;
}
/* slicing 3-14 */
.grid-flex li:nth-child(n+3):nth-child(-n+14){
    background-color: rgb(110, 185, 250);
    flex-basis: 31.3333333%;
    margin: 1%;
}
.grid-flex li img{
    width: 100%;
}

/* ************************************************** */

/* floats */
.grid-floats{
    background-color: rgb(248, 60, 217);
    /* display: float; */
    /* margin: 0  0 20px 0; */
    overflow: hidden;
}
.grid-floats li:nth-child(n+1):nth-child(-n+2){
    background-color: rgb(114, 185, 114);
    float:left;
    width: 48%;
    margin: 1%;
}

/* .grid-floats li:nth-child(n+3):nth-child(-n+6){
    margin: 0 0 20px;
} */

/* slicing 3-14 */
.grid-floats li:nth-child(n+3):nth-child(-n+14){
    background-color: rgb(110, 185, 250);
    float: left;
    width: 31.333%;
    margin: 1%;
    /* padding: 1%; */
}

.grid-floats li:nth-child(n+6):nth-child(-n+8){
    background-color: rgb(232, 235, 98);
    float: right;
    width: 31.333%;
    margin: 1%;
    /* padding: 1%; */
}

.grid-floats li:nth-child(n+12):nth-child(-n+14){
    background-color: rgb(71, 83, 94);
    float: right;
    width: 31.333%;
    margin: 1%;
}

.grid-floats li:nth-child(n+4):nth-child(-n+4){
    padding-bottom: 2.2em;
}
.grid-floats li:nth-child(n+5):nth-child(-n+5){
    padding-bottom: 1.2em;
}

.grid-floats li:nth-child(n+6):nth-child(-n+6){
    padding-bottom: 1.2em;
}
.grid-floats li:nth-child(n+11):nth-child(-n+11){
    padding-bottom: 2.2em;
}

.grid-floats li:nth-child(n+13):nth-child(-n+13){
    padding-bottom: 1.2em;
}
/* .grid-floats li:nth-child(n3+6){
    float: none;
} */
.grid-floats li img{
    width: 80%;
    height: 80%;
}

/* ************************************************** */

@media (max-width: 600px){
    .grid-flex li:nth-child(n+1):nth-child(n-14){
        flex-basis: 100%;
    }

    .grid-floats li:nth-child(n+1):nth-child(n-14){
        width: 100%;
    }
}

@media (min-width: 1024px){

}
